@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  background: skyblue;
}

header {
  box-shadow: 8px 12px 60px gray;
  background: white;
}

h4 a {
  color: rgb(51, 146, 255);
}

.currentFile a {
  color: rgb(51, 146, 255);
}

.nav-bar {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.nav-bar ul {
  margin-left: 60%;
  display: flex;
}

.nav-bar ul li {
  margin-left: 30px;
  font-weight: 500;
}

.middle-section h2 {
  font-weight: 600;
}

.middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  text-align: center;
}

#color-container {
  background: rgba(0, 0, 0, 0.85);
  padding: 35px 50px;
  border-radius: 5px;
}

#color-container > h2 {
  color: white;
}

.color {
  color: white;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  background: white;
  border-radius: 7px;
  cursor: pointer;
}

.btn:hover {
  background: black;
  color: white;
  transition: 0.3s;
}
